
*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
     box-sizing: border-box;
    align-content: center;
}


.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav-section */
.nav-bar{
    display: flex;
    width: 71%;
    max-width: 1600px;
    margin: 16px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-bar img{
    width: 140px;
    height: 60px;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    margin: 0 24px;
}
.nav-bar ul li{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.btn {
      background: #3a8f5c;
      color: white;
      padding: 10px 18px;
      border-radius: 5px;
      text-decoration: none;
      border: 0;
      cursor: pointer;
      /* margin-right: 120px; */
    }
    .btn:hover{
        background-color: #555;
    }
    /* hero-section */
    .hero{
        background:url(assets/hero-bg.png);
      background-position: center;
      justify-content: center;
      text-align: center;
      width: 1600px;
      height: 674px;
      margin: 0px auto;
    }
    .hero .bar{
  display: inline-block;
  padding: 8px 12px;
  background: white;
  color: green;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
 }

 .hero h1 {
  font-size: 48px;
  margin: 5px 295px;
  color: #FFFFFF;

}

.hero h1 span {
  color: #3cb371;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #FFFFFF;
  line-height: 24px;
}
.hero div button a {
    padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  list-style-type: none;
  background-color: #3cb371;
  color: #FFFFFF;

}
/* problem section */
.problems {
      padding: 60px 40px;
      text-align: center;
    }

    .problem-box {
      
      display: flex;
      gap: 20px;
      margin-top: 40px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      width: 230px;
      background: #fff;
      padding: 10px;
      margin: 24px;
      border-radius: 10px;
      box-shadow: 0 5px 15px #0000004b;
    }

    .card h3 {
      margin-bottom: 10px;
      color: #272d31;
      font-size: 24px;
    }
    .card p{
        color: #627382;
        font-size: 16px;
        margin-top: 16px;
    }
    /* knowledge */
.knowledge{
    display: flex;
    margin: 12px auto;
    max-width: 1600px;
    width: 71%;
    margin: 120px;
}
.light-logo{
    width: 600px;
    height: 600px;
    margin-right: 60px;
}
.info h6 {
    font-family: 16px;
    color: #469165;
    margin-bottom: 16px;
}
.info h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.info p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
.info .CheckCircle {
    font-size: 16px;
    margin-bottom: 0;
}
/* early-access */
.early-access{
    max-width: 1600px;
    width: 70%;
    margin: 120px auto;
    text-align: center;
     background-color: #F7F6F2;
}
.early-access h1{
    font-size: 40px;
    font-weight: bold;
    margin: 80px 0px 16px 0px;

}
.early-access p{
    color: #627382;
    margin-bottom: 16px;
    m
}
.early-access button{
    background-color: #3cb371;
    padding: 12px 16px;
    border-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 16px;
}
.early-access button:hover{
        background-color: #555;}
.early-access .p{
    margin-bottom: 120px;
}
/* footer */

.footer{
    background-color: #001931;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}